{% extends 'base.html' %} {% block title %} infoConnect_dashboard {% endblock %}
{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/styles_dashboard.css' %}" />
{% endblock %} {% block content %}

<div class="header">
  <p class="image-text" id="text">
    <span id="typing-indicator"> </span>
  </p>

  <img src="{% static './images/dd.png' %}" alt="Dashboard Logo" />
</div>

<main>
  <section class="dashboard-block">
    <br />&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-book"></i>
    <br />&nbsp;&nbsp;&nbsp;&nbsp;Notes
    <a href="{% url 'notes' %}">
      <p class="span1">
        <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cliquez
        ici >>
      </p>
    </a>
  </section>
  <section class="dashboard-block">
    <br />&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-file-alt"></i>
    <br />&nbsp;&nbsp;&nbsp;&nbsp;Requete
    <a href="{% url 'requete' %}">
      <p class="span1">
        <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cliquez
        ici >>
      </p>
    </a>
  </section>
  <section class="dashboard-block">
    <br />&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-bullhorn"></i>
    <br />&nbsp;&nbsp;&nbsp;&nbsp;Annonce
    <a href="{% url 'annonce' %}">
      <p class="span1">
        <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cliquez
        ici >>
      </p>
    </a>
  </section>
  <section class="dashboard-block">
    <br />&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-file"></i>
    <br />&nbsp;&nbsp;&nbsp;&nbsp;Document
    <a href="{% url 'document' %}">
      <p class="span1">
        <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cliquez
        ici >>
      </p>
    </a>
  </section>
  <section class="dashboard-block">
    <br />&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-calendar"></i>
    <br />&nbsp;&nbsp;&nbsp;&nbsp;Agenda
    <a href="{% url 'agenda' %}">
      <p class="span1">
        <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cliquez
        ici >>
      </p>
    </a>
  </section>
</main>
<script>
  var text = "ENT-Université de Yaoundé I";
  var speed = 100; // Vitesse de défilement en millisecondes
  typeAndDeleteText(text, speed);
  function typeAndDeleteText(text, speed) {
    var element = document.getElementById("text");
    var indicator = document.getElementById("typing-indicator");

    var index = 0;
    var direction = 1; // 1: écriture, -1: effacement
    var textLength = 0; // Longueur du texte actuel

    setTimeout(function () {
      var intervalId = setInterval(function () {
        if (direction === 1) {
          element.textContent += text[index];
          index++;
          textLength++;
          if (index >= text.length) {
            direction = -1;
          }
        } else if (direction === -1) {
          element.textContent = element.textContent.slice(0, -1);
          textLength--;

          if (element.textContent === "") {
            direction = 1;
            index = 0;
          }
        }

        // Afficher/masquer le trait d'écriture
        indicator.style.width = textLength + "";
      }, speed); // Vitesse de défilement en millisecondes

      // Arrêter l'intervalle après un certain temps (facultatif)
    }, 1200); // Délai de 5 secondes en millisecondes
  }
</script>
{% endblock %}
