{% extends 'base_en.html' %}

{% block title %}
    Notes_ens
{% endblock %}

{% block content %}
    <h3 class="note-heading">Notes</h3>
    {%load static%}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles_notes_ens.css' %}">




    {% if user_info %}
        <p>Bienvenue, {{ user_info.first_name }} {{ user_info.last_name }} ({{ user_info.email }})</p>
        {% if user_info.matricule_en %}
            <p>Matricule Enseignant : {{ user_info.matricule_en }}</p>
        {% endif %}
    {% else %}
        <p>Informations utilisateur non disponibles.</p>
    {% endif %}


    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Erreur(s) dans le formulaire :</strong>
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <form method="post" enctype="multipart/form-data" action="{% url 'import_notes' %}">
        {% csrf_token %}
        <label for="file">Sélectionnez le fichier Excel :</label>
        <input type="file" id="file" name="file" accept=".xls, .xlsx" required>
    
        <label for="ue_code">Choisissez l'UE :</label>
        {{ form.ue_code }}
    
        <button type="submit">Importer les notes</button>
    </form>

    {% for ue_code, ue_stats in stats.items %}

        <h4 class="note-heading">Statistiques pour l'UE {{ ue_code }}</h4>

        <table class="notes-stats">
            <thead>
                <tr>
                    <th>CRITERE SUR LA NOTE(%)</th>
                    <th>CC</th>
                    <th>TP</th>
                    <th>EXAMEN</th>
                    <th>POURCENTAGE(CC | TP | EXAMEN)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[0 - 25[</td>
                    <td>{{ ue_stats.cc.0.effectif_0_25 }}</td>
                    <td>{{ ue_stats.tps.0.effectif_0_25 }}</td>
                    <td>{{ ue_stats.examen.0.effectif_0_25 }}</td>
                    <td>{{ ue_stats.cc.1.range_0_25 }} | {{ ue_stats.tps.1.range_0_25 }} | {{ ue_stats.examen.1.range_0_25 }}</td>
                </tr>
                <tr>
                    <td>[25 - 50[</td>
                    <td>{{ ue_stats.cc.0.effectif_25_50 }}</td>
                    <td>{{ ue_stats.tps.0.effectif_25_50 }}</td>
                    <td>{{ ue_stats.examen.0.effectif_25_50 }}</td>
                    <td>{{ ue_stats.cc.1.range_25_50 }} | {{ ue_stats.tps.1.range_25_50 }} | {{ ue_stats.examen.1.range_25_50 }}</td>
                </tr>
                <tr>
                    <td>[50 - 75[</td>
                    <td>{{ ue_stats.cc.0.effectif_50_75 }}</td>
                    <td>{{ ue_stats.tps.0.effectif_50_75 }}</td>
                    <td>{{ ue_stats.examen.0.effectif_50_75 }}</td>
                    <td>{{ ue_stats.cc.1.range_50_75 }} | {{ ue_stats.tps.1.range_50_75 }} | {{ ue_stats.examen.1.range_50_75 }}</td>
                </tr>
                <tr>
                    <td>[75 - 100[</td>
                    <td>{{ ue_stats.cc.0.effectif_75_100 }}</td>
                    <td>{{ ue_stats.tps.0.effectif_75_100 }}</td>
                    <td>{{ ue_stats.examen.0.effectif_75_100 }}</td>
                    <td>{{ ue_stats.cc.1.range_75_100 }} | {{ ue_stats.tps.1.range_75_100 }} | {{ ue_stats.examen.1.range_75_100 }}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

