{% extends 'base_en.html' %} {% block title %} infoConnect_requete {% endblock %}
{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/styles_requete_ens.css' %}" />
{% endblock %} {% block content %}

<h3 class="tete">
  < Traitement requete</h3>

    <legend class="text-sm">Requete reçu</legend>
    <div class=" containts">
      <table class="notes-table">
        <thead>
          <tr>
            <th>Code UE</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          {% for item in requete_data %}
          <tr>
            <td>{{ item.code_ue }}</td>
            <td>{{ item.statut }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>


    <div class="add-button" data-toggle="modal" data-target="#uploadDocumentModal">
      <i class="fa-solid fa-pen add" title="modifier statut"></i> <span class="add"></span>
    </div>

    <!-- Modal pour la récupération de la requête POST -->
    <div class="modal fade" id="uploadDocumentModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary font-weight-bold">
              Statut Requete
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'correct_requet' %}" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="mb-3">
                <label for="id_ue_code" class="form-label">Choisir l'UE</label>
                {{ form.ue_code }}
              </div>

              <div class="mb-3">
                <label for="id_file" class="form-label">Fichier</label><br>
                {{ form.file }}
              </div>

              <div class="mb-3">
                <label for="id_statut" class="form-label">Statut</label>
                {{ form.statut }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Annuler
                </button>
                <button type="submit" class="btn btn-primary">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}