<!DOCTYPE html>
<html>
<head>
    <title>Réinitialisation de Mot de Passe</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; background-color:  #f0f8f9; padding: 20px;">
        <p style="font-size: 18px;">Bonjour {{ user.prenom }}😊,</p>
        <p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
        <p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>
        <a href="http://{{ domaine }}{% url 'password_reset_confirm' token=jeton uidb64=uid %}"
           style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">
            Réinitialiser le mot de passe
        </a>
        <p style="color: red; font-weight: 700;"> Ce lien expire dans 2h.</p>
        <p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, ignorez simplement cet e-mail.</p>
        <p>Cordialement,<br>L'équipe infoConnect</p>
        <footer><center>&copy; 2023 infoConnect</center></footer>
    </div>
</body>
</html>

