body {
  margin: 0px;
  font-family: "Arial", sans-serif;
  background-color: #84d8f10e;
}

header {
  background-color: rgba(255, 255, 255, 0.979);
  color: blue;
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 15px;

  display: flex;
  height: 80px;
  position: relative;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

  width: 100%;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.search {
  display: flex;
  padding-left: 0px;
  margin-left: 270px;
  position: relative;
}

.search input {
  padding: 8px;
  margin-right: 95px;
  border: none;
  font-size: 14px;
}
.search input:hover {
  border: none;
}

.search button {
  background-color: white;
  color: #686868;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.container {
  display: flex;
  margin-top: 0px;
}

#sidebar {
  width: 270px;
  height: 820px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: #686868;
  font-size: 20px;
  display: block;
  margin: 0px;
  padding: 25px;
}
button > a {
  text-decoration: none;
  color: #686868;
  padding: 10px;
  width: 90%;
}

button > a:hover {
  text-decoration: none;
  color: #ffffff;
}

.sidebar > button {
  display: inline;
  width: 90%;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  border: none;
  color: #686868;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.sidebar > button:hover {
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.contentt {
  margin: 50px;
  padding: 1px;
  position: relative;
}
.container-fluid {
}
i {
  font-size: 15px;
  margin-right: 6px;
}

.sidebar button i {
  margin-right: 20px;
}

.close-btn {
  margin-right: 20px;
  color: #686868;
  border: 0;
  background-color: white;
  font-size: 20px;
}
.close-btn:hover {
  margin-right: 20px;
  color: #686868;
  font-size: 20px;
  border: 3px solid blue;
}

footer {
  color: #686868;
  padding: 25px;
  background-color: white;
  text-align: center;
  z-index: 1000;
  display: flex;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  height: 25px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  margin: 0px;
}
.nav-item.nav-profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.dropdown-toggle::after {
  border-top: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.col-10 {
  display: flex;
}
.sidebar button.disable-hover:hover {
  width: 35px;
  background-color: blue;
  color: white;
}
.sidebar i.disabl-hover:hover {
  background-color: blue;
  color: white;
}
.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.status-indicator {
  position: absolute;
  bottom: 2px;
  right: 6px;
  width: 12px;
  height: 12px;
  background-color: #6bfa6f; /* Couleur du point vert */
  border-radius: 50%;
  border: 2px solid #ffffff; /* Bordure blanche */
}
/* ... Votre code existant ... */

/* Media Queries */
@media only screen and (max-width: 425px) {
  .search {
    margin-left: 0;
  }

  .search input {
    margin-right: 0;
  }

  .search button {
    margin-right: 0;
  }

  #sidebar {
    display: none;
  }

  
}

/* Media Queries pour les tablettes */
@media only screen and (min-width: 768px) {
}

/* Media Queries pour les grands écrans d'ordinateur */
@media only screen and (min-width: 1025px) {
}
@media only screen and (min-width: 1440px) {
}

/* test */

.circle-outer {
  width: 5cm;
  height: 5cm;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-inner {
  width: 4.5cm;
  height: 4.5cm;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mgp-value {
  font-size: 1.5em;
  color: black;
}

