body {
  margin: 0px;
  font-family: "Arial", sans-serif;
  background-color: #84d8f10e;
}

header {
  background-color: rgba(255, 255, 255, 0.979);
  color: blue;
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  height: 80px;
  position: relative;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0px 12px;
  width: 100%;
}
.row > header {
  width: 100%;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.search {
  display: flex;
  padding-left: 0px;
  margin-left: 270px;
  position: relative;
}

.search input {
  padding: 8px;
  margin-right: 95px;
  border: none;
  font-size: 14px;
}
.search input:hover {
  border: none;
}

.search button {
  background-color: white;
  color: #686868;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.container {
  display: flex;
  margin-top: 0px;
}

#sidebar {
  width: 270px;
  height: 857px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: #686868;
  font-size: 20px;
  display: block;
  margin: 0px;
  padding: 25px;
}
button > a {
  text-decoration: none;
  color: #686868;
  padding: 10px;
  width: 90%;
}

button > a:hover {
  text-decoration: none;
  color: #ffffff;
}

.sidebar > button {
  display: inline;
  width: 90%;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  border: none;
  color: #686868;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.sidebar > button:hover {
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.contentt {
  margin: 50px;
  position: fixed;
}
.container-fluid {
}
i {
  font-size: 15px;
  margin-right: 6px;
}

.sidebar button i {
  margin-right: 20px;
}

.close-btn {
  margin-right: 20px;
  color: #686868;
  border: 0;
  background-color: white;
  font-size: 20px;
}
.close-btn:hover {
  margin-right: 20px;
  color: #686868;
  font-size: 20px;
  border: 3px solid blue;
}

footer {
  color: #686868;
  padding: 25px;
  background-color: white;
  text-align: center;
  position: absolute;
  z-index: 1000;
  display: flex;
  bottom: 0;
  width: 99.9%;
  font-size: 12px;
  cursor: pointer;
  margin-left: 0;
  height: 25px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}
.nav-item.nav-profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.dropdown-toggle::after {
  border-top: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar button.disable-hover:hover {
  width: 35px;
  background-color: blue;
  color: white;
}
.sidebar i.disabl-hover:hover {
  background-color: blue;
  color: white;
}
