/* .container {
    max-width: 600px;
    margin: auto;
} */

.form-group {
  margin-bottom: 20px;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #686868;
}

.form-check-input {
  margin-right: 8px;
  margin-left: 18px;
  cursor: pointer;
}
.form-check {
  margin: 10px;
  margin-left: 40px;
}
p{
  margin: 0;
}
p:hover{
  margin: 0;
  cursor: pointer;
  color: red;
}
/* Style pour les cases à cocher sélectionnées */
.form-check-input:checked + label {
  font-weight: bold;
  color: #007bff;
  font-size: 15px;
}

.form1 {
  margin-top: 400px;
  position: absolute;
  background-color: white;
  width: 300px;
  height: 250px;
  padding: 30px;
  color: #686868;
  
  box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
}
.form1:hover{
  background-color: rgba(240, 244, 245, 0.055);
}
.form2 {
  margin-top: 40px;
  position: absolute;
  background-color: white;
  width: 300px;
  height: 330px;
  padding: 30px;
  color: #686868;
  
  overflow-y: scroll;
  box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
}
.form2:hover{
  background-color: rgba(240, 244, 245, 0.055);
}
label {
  font-weight: 549;
  cursor: pointer;
}
.bouton button {
  margin-top: 600px;
  position: absolute;
  margin-left: 800px;

  background-color: blue;
  color: white;
}

.bouton1 button {
  margin-top: 600px;
  position: absolute;
  background-color: white;
  margin-left: 500px;
  color: blue;
}
.bouton1 {
  background-color: white;
}

.bouton button,
.bouton1 button {
  width: 206px;
  height: 50px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.bouton button:hover {
  background-color: white;
  color: blue;

  box-shadow: 0px 1px 2px black;
}

.bouton1 button:hover {
  background-color: blue;
  color: white;
  box-shadow: 0px 1px 2px black;
  border-radius: 3px;
}

.tete {
  font-size: 30px;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
.tete2 {
  font-size: 30px;
  margin-left: 400px;
  background-color: blue; /* Couleur initiale */
  margin-top: 40px;
  width: 450px;
  height: 330px;
  padding: 10px;
  overflow-y: scroll;
  animation: borderColorChange 8s infinite;
  border: 2px solid blue; /* Animation de 8 secondes, infinie */
}
.tete2:hover{
  background-color: rgba(240, 244, 245, 0.055);
}
@keyframes borderColorChange {
  0% {
    border-left-color: blue;
    border-top-color: rgb(252, 156, 156);
    border-right-color: rgb(252, 186, 88);
    border-bottom-color: lightblue;
}
12.5% {
    border-left-color: lightblue;
    border-top-color: blue;
}
25% {
    border-left-color: lightblue;
    border-top-color: blue;
    border-right-color: rgb(252, 156, 156);
    border-bottom-color: rgb(252, 186, 88);
}
37.5% {
    border-right-color: rgb(252, 156, 156);
    border-bottom-color: rgb(252, 186, 88);
}
50% {
    border-left-color: rgb(252, 156, 156);
    border-top-color: lightblue;
    border-right-color: rgb(252, 186, 88);
    border-bottom-color: blue;
}
62.5% {
    border-left-color: rgb(252, 186, 88);
    border-top-color: blue;
}
75% {
    border-left-color: rgb(252, 186, 88);
    border-top-color: blue;
    border-right-color: lightblue;
    border-bottom-color: rgb(252, 156, 156);
}
87.5% {
    border-right-color: lightblue;
    border-bottom-color: rgb(252, 156, 156);
}
100% {
    border-left-color: blue;
    border-top-color: rgb(252, 156, 156);
    border-right-color: rgb(252, 186, 88);
    border-bottom-color: lightblue;
}
}
    
.tete2 > span {
  color: #686868;
  font-weight: bold;
  text-align: center;
  text-justify: center;
}
.sidebar button .requete {
  background-color: blue; /* Exemple de style */
  text-decoration: none; /* Pour enlever le soulignement du lien */
  color: white;
}

.requete.active {
  /* Styles spécifiques lorsque le lien est actif */
  font-weight: bold;
  /* Ajoutez d'autres styles si nécessaire */
}
#dates-container {
  font-size: 12px;
  color: #686868;
}
.messages,
.alert {
  font-size: 14px;
  margin: 0;
  position: absolute;
  width: 600px;
  height: 50px;
  background-color: none;
  margin-left: 190px;
}

/* Media Query pour écrans jusqu'à 600 pixels de large */
@media only screen and (max-width: 425px) {
  .messages,
  .alert {
    font-size: 9px;
    margin: 0;
    position: absolute;
    width: 300px;
    height: 20px;
    background-color: none;
    margin-left: 0px;
  }
  .tete {
    font-size: 10px;
  }
  .form1 {
    margin-top: 250px;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 30px;
    color: #686868;
    font-size: 12px;
    margin-left: 0;
    
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }
  .form1:hover{
    background-color: rgba(233, 247, 252, 0.623);
  }
  .form2 {
    margin-top: 3px;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 30px;
    color: #686868;
    font-size: 12px;
    
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }
  #sidebar {
    display: none;
  }
  .bouton button,
  .bouton1 button {
    width: 77px;
    height: 27px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  .bouton button {
    margin-top: 640px;
    position: absolute;
    margin-left: 80px;

    background-color: blue;
    color: white;
  }

  .bouton1 button {
    margin-top: 640px;
    position: absolute;
    background-color: white;
    margin-left: 0px;
    color: blue;
  }
  .tete2 {
    font-size: 9px;
    margin-left: 0px;
    margin-top: 500px;
    background-color: white;
    width: 250px;
    height: 130px;
    padding: 5px;
    overflow-y: scroll;
    animation: borderColorChange 8s infinite; 
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }
  #dates-container {
    font-size: 8px;
  }
}

/* Media Query pour écrans entre 601 et 1024 pixels de large */
@media only screen and (min-width: 768px) {
  .col-10 {
    display: flex;
    width: 50px;
    margin-left: 100px;
  }
  .messages,
  .alert {
    font-size: 9px;
    margin: 0;
    position: absolute;
    width: 300px;
    height: 20px;
    background-color: none;
    margin-left: 0px;
  }
  .tete {
    font-size: 16px;
  }
  .form1 {
    margin-top: 230px;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 30px;
    color: #686868;
    font-size: 12px;
    margin-left: 0;
    
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }
  .form2 {
    margin-top: 0px;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 230px;
    padding: 30px;
    color: #686868;
    font-size: 12px;
    
  overflow-y: scroll;
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }

  .bouton button,
  .bouton1 button {
    width: 77px;
    height: 27px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  .bouton button {
    margin-top: 630px;
    position: absolute;
    margin-left: 80px;

    background-color: blue;
    color: white;
  }

  .bouton1 button {
    margin-top: 630px;
    position: absolute;
    background-color: white;
    margin-left: 0px;
    color: blue;
  }
  .tete2 {
    font-size: 9px;
    margin-left: 0px;
    margin-top: 480px;
    background-color: white;
    width: 400px;
    height: 128px;
    padding: 10px;
    overflow-y: scroll;
    animation: borderColorChange 8s infinite; 
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }
  #dates-container {
    font-size: 10px;
  }
}

/* Media Query pour écrans de 1025 pixels de large et plus */
@media only screen and (min-width: 1025px) {
  .form-group {
    margin-bottom: 20px;
  }

  legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #686868;
  }

  .form-check-input {
    margin-right: 8px;
    margin-left: 18px;
    cursor: pointer;
  }
  .form-check {
    margin: 10px;
    margin-left: 40px;
  }

  /* Style pour les cases à cocher sélectionnées */
  .form-check-input:checked + label {
    font-weight: bold;
    color: #007bff;
    font-size: 15px;
  }

  .form1 {
    margin-top: 430px;
    position: absolute;
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 30px;
    color: #686868;
    
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }
  .form2 {
    margin-top: 40px;
    position: absolute;
    background-color: white;
    width: 300px;
    height: 330px;
    padding: 30px;
    color: #686868;
    
  overflow-y: scroll;
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }
  label {
    font-weight: 549;
    cursor: pointer;
  }
  .bouton button {
    margin-top: 630px;
    position: absolute;
    margin-left: 560px;

    background-color: blue;
    color: white;
  }

  .bouton1 button {
    margin-top: 630px;
    position: absolute;
    background-color: white;
    margin-left: 320px;
    color: blue;
  }
  .bouton1 {
    background-color: white;
  }

  .bouton button,
  .bouton1 button {
    width: 206px;
    height: 50px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  .bouton button:hover {
    background-color: white;
    color: blue;

    box-shadow: 0px 1px 2px black;
  }

  .bouton1 button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0px 1px 2px black;
    border-radius: 3px;
  }

  .tete {
    font-size: 30px;
    color: blue;
    font-weight: bold;
    cursor: pointer;
  }
  .tete2 {
    font-size: 30px;
    margin-left: 400px;
    background-color: white;
    margin-top: 40px;
    width: 450px;
    height: 330px;
    padding: 10px;
    overflow-y: scroll;
    animation: borderColorChange 8s infinite; 
    box-shadow: 0px 2px 4px rgba(80, 79, 79, 0.473);
  }
  .tete2 > span {
    color: #686868;
    font-weight: bold;
  }
  .sidebar button .requete {
    background-color: blue; /* Exemple de style */
    text-decoration: none; /* Pour enlever le soulignement du lien */
    color: white;
  }

  .requete.active {
    /* Styles spécifiques lorsque le lien est actif */
    font-weight: bold;
    /* Ajoutez d'autres styles si nécessaire */
  }
  #dates-container {
    font-size: 12px;
    color: #686868;
  }
  .messages,
  .alert {
    font-size: 14px;
    margin: 0;
    position: absolute;
    width: 600px;
    height: 50px;
    background-color: none;
    margin-left: 190px;
  }
}
@media only screen and (min-width: 1440px) {
  .bouton button {
    margin-top: 630px;
    position: absolute;
    margin-left: 800px;

    background-color: blue;
    color: white;
  }

  .bouton1 button {
    margin-top: 630px;
    position: absolute;
    background-color: white;
    margin-left: 500px;
    color: blue;
  }
}
